@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 15% 95%; /* #F1F0F4 */
    --foreground: 254 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 254 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 254 40% 10%;
    --primary: 254 40% 35%; /* #4D357D */
    --primary-foreground: 0 0% 98%;
    --secondary: 230 70% 96%;
    --secondary-foreground: 230 70% 35%;
    --muted: 230 10% 90%;
    --muted-foreground: 254 10% 40%;
    --accent: 230 70% 55%; /* #3C57DD */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 254 15% 85%;
    --input: 254 15% 85%;
    --ring: 254 40% 35%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 254 40% 5%;
    --foreground: 0 0% 98%;
    --card: 254 40% 10%;
    --card-foreground: 0 0% 98%;
    --primary: 254 40% 60%;
    --primary-foreground: 254 40% 10%;
    --accent: 230 70% 60%;
    --accent-foreground: 0 0% 98%;
    --border: 254 40% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}
